. {
    border-bottom: solid 1px whitesmoke;
    overflow: hidden;
    position: relative;
}

h3 {
    margin: 0;
    font-weight: 600;
}
a {
    text-decoration: none;
}
.single-line {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.number {
    position: absolute;
    margin: 0;
    padding: 8px 0 0;
    width: 48px;
    text-align: center;
    color: lightgray;
    font-size: 120%;
    font-weight: bold;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
}
.content {
    cursor: pointer;
    padding-top: 8px;
    padding-left: 48px;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
}
.active {
    background-color: rgba(100, 100, 100, 0.1);
}