h5 {
    padding:0;
    margin: 0 0 0 4px;
}
p {
    margin-bottom:12px;
}
p code {
    color: dimgrey;
}
code {
    font-size: 110%;
    background-color: transparent;
}
small {
    margin-left: 48px;
    font-weight:bold;
    margin-top: 12px;
    color: dimgrey;
}
h5 code.language-javascript {
    color: #BDBDBD;
    font-style: italic;
}
.title {
    padding: 0;
    margin-top: 32px;
    margin-bottom: 0;
}
.title code {
    font-weight: bolder;
}
.description {
    font-family: monospace;
    padding-left: 6px;
    margin-top: 16px;
    margin-bottom:16px;
}
.details {
    padding: 16px 24px 32px;
}
.api-member-details {
    margin-left: 64px;
    margin-bottom: 12px;
}
.api-member-details .language-javascript {
    color: #424242;
    font-weight: bolder;
    font-style: italic;
}
.container {
    overflow:hidden;
    background-color: #fafafa;
}
.collapsed {
    display: none;
}
