h5 {
    padding:0;
    margin: 0 0 0 4px;
    font-size:130%;
}
p {
    margin-bottom:12px;
}
p code {
    color: dimgrey;
    font-size: 95%;
    margin-left: 4px;
    margin-right: 4px;
}
code {
    font-size: 95%;
    background-color: transparent;
}
small {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 12px;
    font-weight:bold;
}
h5 code.language-javascript {
    color: #bfbfbf;
    font-style: italic;
}
.title {
    padding: 0;
    margin-top: 12px;
    margin-bottom: 0;
}
.title code {
    font-weight: bolder;
}
.description {
    padding-left: 6px;
    margin-top: 16px;
    margin-bottom:16px;
}
.description p {
    line-height: 180%;
}
.details {
    padding: 0 24px 16px;
}
.api-member-details {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.api-member-details code {
    color: lightgray;
    background-color: #f2f2f2;
    padding: 2px;
    font-size: 80%;
}
.api-member-details .language-javascript {
    color: #424242;
    font-weight: bolder;
    font-style: italic;
}
.container {
    overflow:hidden;
}
.collapsed {
    display: none;
}

.material-icons {
    color: lightgray;
}
