.options .menu-item {
    padding: 16px;
    height: 48px;
    cursor: pointer;
    vertical-align: middle;
    color:white;
}
div.options {
    margin-bottom: 16px;
    margin-right: -12px;
    margin-left: 32px;
    padding: 16px;
    color:white;
    background-color: rgba(60, 60, 60, 0.9);
    font-weight: 400;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.options .menu-item i {
    color: white;
}
.menu {
    max-width: 56px;
}