body {
    padding-top: 72px;
    font-family: 'Scope One', serif;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
    background-color: whitesmoke;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    background-color: #1b6ab9;
    color:white;
    z-index: 1;
    -webkit-box-shadow: 0 4px 8px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0 4px 8px rgba(100, 100, 100, 0.49);
    box-shadow:         0 4px 8px rgba(100, 100, 100, 0.49);
}
header h1 {
    margin: 0;
    padding-left: 16px;
    font-weight: bold;
}
header a {
    text-decoration: none;
    color: white;
}
header .menu a {
    font-size: 120%;
    margin-right: 8px;
}
header .menu a.is-active {
    color: yellow;
    font-weight: bolder;
}
header > div {
    height: 64px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 64px;
    background-color: #1b6ab9;
    color:white;
    z-index: 1;
    -webkit-box-shadow: 0 -4px 8px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0 -4px 8px rgba(100, 100, 100, 0.49);
    box-shadow:         0 -4px 8px rgba(100, 100, 100, 0.49);
    padding-right: 24px;
    padding-left: 24px;
    display: none;
}


/* -- */


.scrollable {
    position: absolute;
    top: 64px; left: 0; right: 0; bottom: 64px;
    overflow-y: auto;
}

.scrollable > div > div {
    background-color: white;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

.tab-visible {
    display: block;
}
.tab-hidden {
    display: none;
}

.list-item {
    min-height: 85px;
}

footer .list-info {
    color: white;
    font-size: 120%;
    font-weight:bold;
}

footer .page-nav {
    cursor: pointer;
    color: white;
    font-weight:bolder;
    font-size: 200%;
    line-height: 48px;
    min-height: 48px;
    min-width: 64px;
    vertical-align: middle;
    overflow: hidden;
}

/* Responsive overloads */

@media only screen and (max-width: 560px) {
    body {
        font-size: 14px;
    }
    .list-item {
        min-height: 72px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }
    header h1 {
        font-size: 120%;
    }
    .list-item {
        min-height: 64px;
    }
}

