body {
    padding-top: 72px;
    font-family: 'Scope One', serif;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
    background-color: whitesmoke;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    background-color: #00acc1;
    color:white;
    z-index: 1;
    -webkit-box-shadow: 0 4px 8px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0 4px 8px rgba(100, 100, 100, 0.49);
    box-shadow:         0 4px 8px rgba(100, 100, 100, 0.49);
}
header h1 {
    margin: 0;
    padding-left: 16px;
    font-weight: bold;
}
header a {
    text-decoration: none;
    color: white;
}
header .menu a {
    font-size: 120%;
    margin-right: 8px;
}
header .menu a.is-active {
    color: yellow;
    font-weight: bolder;
}
header > div {
    height: 64px;
}

footer {
    height: 64px;
    background-color: #00acc1;
    color:white;
    z-index: 1;
    -webkit-box-shadow: 0 -4px 8px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0 -4px 8px rgba(100, 100, 100, 0.49);
    box-shadow:         0 -4px 8px rgba(100, 100, 100, 0.49);
    padding-right: 24px;
    padding-left: 24px;
    display: none;
}


/* -- */


.scrollable {
    position: absolute;
    top: 64px; left: 0; right: 0; bottom: 0;
    overflow-y: auto;
}

.scrollable > div > div {
    background-color: white;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

.tab-visible {
    display: block;
}
.tab-hidden {
    display: none;
}

.list-item {
    min-height: 85px;
}

/* Loader animation */

.spinner div {
    width: 6px;
    height: 6px;
    position: absolute;
    left: -20px;
    top: 40px;
    background-color: #FF3;
    border: solid 2px #1da851;
    border-radius: 50%;
    animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
}
.spinner div:nth-child(2) {
    animation-delay: 150ms;
}
.spinner div:nth-child(3) {
    animation-delay: 300ms;
}
.spinner div:nth-child(4) {
    animation-delay: 450ms;
}
@keyframes move {
    0% {left: 0%;}
    75% {left:100%;}
    100% {left:100%;}
}


/* Responsive overloads */

@media only screen and (max-width: 560px) {
    body {
        font-size: 14px;
    }
    .list-item {
        min-height: 72px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }
    header h1 {
        font-size: 120%;
    }
    .list-item {
        min-height: 64px;
    }
}

