body {
    padding-top: 72px;
    font-family: 'Scope One', serif;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
    background-color: whitesmoke;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    background-color: #00acc1;
    color:white;
    z-index: 1;
    -webkit-box-shadow: 0 3px 8px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0 3px 8px rgba(100, 100, 100, 0.49);
    box-shadow:         0 3px 8px rgba(100, 100, 100, 0.49);
}
header h1 {
    margin: 0;
    padding-left: 16px;
}
header .menu a {
    text-decoration: none;
    color: white;
    font-size: 120%;
    margin-right: 8px;
}
header > div {
    height: 64px;
}

footer {
    padding-right: 24px;
    padding-left: 24px;
}

main > div {
    background-color: white;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

.list-item {
    min-height: 85px;
}

@media screen and (max-width: 580px) {
    body {
        font-size: 14px;
    }
    .list-item {
        min-height: 72px;
    }
}

@media screen and (max-width: 460px) {
    body {
        font-size: 12px;
    }
    .list-item {
        min-height: 64px;
    }
}