.mdl-card__supporting-text > .mdl-list {
    margin-top: 0;
    padding-top: 0;
}

.mdl-card__title {
    height: 216px;
    color: #fff;
    background:
            url('https://images.unsplash.com/photo-1445052520430-32c8ebc92fe3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450') no-repeat center center;
    background-size: cover;
    position: relative;
}

.mdl-card__title > .mdl-card__title-text {
    font-size: 32px;
    margin-left: 16px;
}

.mdl-card__title > .mdl-button--fab {
    position: absolute;
    right: 16px;
    bottom: -25px;
    overflow: hidden;
}

.mdl-card__menu {
    color: #fff;
}

.mdl-tabs {
    padding-top: 16px;
}