div[data-ui-field="preview"] {
    position: relative;
    overflow:hidden;
    height: 240px;
}
div[data-ui-field="preview"] img {
}
img {
    margin:8px;
}
.abs_pos {
    position: absolute;
    width: 100%;
    height: 240px;
    text-align: center;
}