body {
    background: url(images/skyline-texture.png);
    font-family: 'Cairo', 'Titillium+Web', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif !important;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    text-transform: none;
}

[data-ui-component="ui/layout/actions-view"] div {
    min-width: 140px;
    height: 72px;
}

[data-ui-component="ui/layout/actions-view"] .is-active {
    background-color: yellow;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: default;
}

.section-content {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    padding-left: 32px;
    padding-right: 32px;
    margin: 6px;
}

.content-padding {
    padding: 16px;
}

.md-18 {
    font-size: 18px;
}
.md-24 {
    font-size: 24px;
}
.md-32 {
    font-size: 32px;
}
.md-48 {
    font-size: 48px;
}

pre[class*="language-"] {
    margin-top:0px;
    margin-bottom:24px;
}

pre.terminal p {
    padding: 24px;
    font-size:14px;
    line-height:16px;
    background-color:rgba(230,230,230,0.5);
}

.progressive-content-container {
    margin-bottom:60px;
    border-top: dotted 1px rgba(230,230,230,0.5);
}

.site-footer {
    height:30px;
    max-height: 30px;
    border-top: 2px solid rgba(150,150,0,0.2);
    font-size: 10px;
}
.site-footer i {
    font-size:9px;
}
[data-ui-field="loaderMessage"] {
    padding: 4px;
    text-align: center;
    opacity: 0.65;
    font-size: 10px;
}