html{ font-size:100%; }
@media( min-width:60em ){ html { font-size: 100% } }
body {
    background-size: cover;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 20px;
    line-height: 140%;
}

p {
    font-size: 110%;
    line-height: 160%;
    margin: 0 0 24px;
}
p code {
    font-size: 85%;
    opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif !important;
    padding-top: 12px;
    padding-bottom: 12px;
    text-transform: none;
}
header {
    position: fixed;
}
header .mdl-layout__header-row {
    padding-left: 16px;
}
h1 {
    font-size: 260%;
}
h2 {
    font-size: 230%;
}
h3 {
    font-size: 200%;
    font-weight:700;
}
h4 {
    font-size: 170%;
    font-weight:500;
}
h5 {
    font-size: 150%;
}
h6 {
    font-size: 130%;
}
h3 {
    text-align: center;
}

ul, li {
    list-style-type: none;
    font-size: 100%;
    line-height: 200%;
}

/* TODO: move this to the component css */
[data-ui-component="ui/layout/actions_view"] div {
    height: 72px;
}

[data-ui-component="ui/layout/actions_view"] .is-active {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: default;
}
section:nth-of-type(2),section:nth-of-type(3) {
    padding-top: 64px;
}
section:nth-of-type(1) {
    overflow-y: hidden;
}
.section-content {
    background-color: white;
    padding-left: 32px;
    padding-right: 32px;
    margin: 6px;
    height: 100%;
}

.content-padding {
    padding: 16px;
}



.material-icons {
    vertical-align: middle;
}
li i {
    margin-right: 12px;
}
h4 i {
    margin-left: 12px;
    margin-right: 12px;
}
.md-18 {
    font-size: 18px;
}
.md-24 {
    font-size: 24px;
}
.md-32 {
    font-size: 32px;
}
.md-48 {
    font-size: 48px;
}

pre[class*="language-"] {
    margin-top:0px;
    margin-bottom:24px;
}

pre.terminal p {
    padding: 24px;
    font-size:14px;
    line-height:16px;
    background-color:rgba(230,230,230,0.5);
}

.wallpaper {
    position: absolute;
    overflow: hidden;
    left:0;
    top:0;
    right:0;
    bottom: 0;
}
.wallpaper div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    -o-animation-duration: 15s;
    -ms-animation-duration: 15s;
}
.wallpaper .backdrop {
    background-color: black; /* fallback color */
    background: url(images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

.site-footer {
    height:30px;
    max-height: 30px;
    border-top: 2px solid rgba(150,150,0,0.2);
    font-size: 10px;
}
.site-footer i {
    font-size:9px;
}
[data-ui-field="loaderMessage"] {
    position: fixed;
    z-index: 100;
    bottom: 32px;
    right: 32px;
    width: auto;
    height: auto;
    display: block;
    padding: 8px;
    opacity: 0.5;
    font-size: 80%;
    text-align: right;
}

.content-loader {
    text-align: center;
    padding: 24px;
}

.progressive-content-container {
    margin-bottom:60px;
    border-top: dotted 1px rgba(230,230,230,0.5);
}
