.opaqueBlocK {
    overflow: hidden;
    background-color: rgba(16, 16, 53, 0.9);
    color:white;
    padding: 24px;
    font-size: 110%;
}
.logo {
    margin:0;
    padding:0;
    color:yellow;
    font-size: 200%;
}
.logo .material-icons {
    font-size: 90%;
}
.logo span {
    font-size: 90%;
}
.logo-text {
    color:yellow;
}
p {
    font-size: 100%;
}
h3 {
    font-weight: 400;
}
.content-padding {
  padding-top: 0;
}